<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Video Meet</h1>
    <button onclick="createRoom()">Create Room</button>
    <input id="roomIdInput" placeholder="Enter Room ID" />
    <button onclick="joinRoom()">Join Room</button>

    <script>
        const roomId = "<%= newRoomId %>";
        console.log(roomId);
        
        function createRoom() {
            window.location.href = `/room/${roomId}`;
        }

        function joinRoom() {
            const roomId = document.getElementById('roomIdInput').value;
            if (roomId) {
                window.location.href = `/room/${roomId}`;
            }
        }
    </script>
    
</body>
</html>